<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Головна сторінка</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Саня\Lab6Web\views\style\style.css">
</head>
<body>
	<% include blocks/header.els %>
	
	<% include blocks/footer.els %>
</body>