<!DOCTYPE html>
<html>
<head>
	<title>laba</title>
	<link rel="stylesheet" type="text/css" href="/views/style/style.css">
</head>
<body>
	<header>
		<div class="header">
			<div>
				<p>
				Сайт інформації про інформацію та інформаційний вплив в її інформації
				</p>
			</div>
		</div>
	</header>
	{{> menu}}
	{{{ body }}}
	<footer>
		<div class="footer">
		<div>
			<p>
				Додати свою статтью ви можете відправивши її на почту informpost@info.info
			</p>
			<div>
				Також ви мжете задати питання за наступними посиланнями: <a href="">FAQ</a>.
			</div>
		</div>
	</div>
	</footer>
</body>
</html>