<main>
	<h3>
		Ми радимо вам прочитати наступні статті:
	</h3>
	<div>
		{{#each articles}}
			<a class="news" href="/articles/{{{this._id}}}"><div><p>{{{this.name}}}</p>
				<p>{{{this.date}}}</p></div></a>
		{{/each}}
	</div>
</main>