<main>
	<h2 style="margin:40px;">
		Ми радимо вам прочитати наступні статті:
	</h2>
	<div>
		{{#each articles}}
			<a class="link" href="/articles/{{{this._id}}}"><div class="news"><p>{{{this.name}}}</p>
				<p>{{{this.date}}}</p></div></a>
		{{/each}}
	</div>
</main>