<main>
	<!-- <% include blocks/header.ejs %> -->
	<h3>
		Ми радимо вам прочитати наступні статті:
	</h3>
	<div>
		{{#each articles}}
			{{{this}}}
		{{/each}}
	</div>
	<!-- <% include blocks/footer.ejs %> -->
</main>