<!DOCTYPE html>
<html>
<head>
	<title>laba</title>
	<link rel="stylesheet" type="text/css" href="/views/style/style.css">
</head>
<body>
	<header>
		<div class="header">
			<div>
				<p>
				Сайт інформації про інформацію та інформаційний вплив в її інформації
				</p>
			</div>
		</div>
	</header>
	<form method="post" action="/post">
	<div>
		<div>Назва статті:</div>
		<div>
			<input type="text" name="name" value = "">
		</div>
	</div>
	<div>
		<div>Опис:</div>
		<div>
			<textarea cols="70" rows="10" name="text" value = ""></textarea>
		</div>
	</div>
	<input type="submit" value="Post">
</form>
	<footer>
		<div class="footer">
		<div>
			<p>
				Додати свою статтью ви можете відправивши її на почту informpost@info.info
			</p>
			<div>
				Також ви мжете задати питання за наступними посиланнями: <a href="">FAQ</a>.
			</div>
		</div>
	</div>
	</footer>
</body>
</html>
