body {
	background-color: #aba6a6;
	align-items: center;

}

.footer {
	padding: 20px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #f2e0a2;
	align-items: center;
	border: solid 1px black; 
		text-align: center;
}

.header {
	padding: 20px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #f2e0a2;
	align-items: center;
	border: solid 1px black; 
		text-align: center;
}

.news {
	
	border: solid 1px black; 
	padding: 10px;
	margin: 15px;
}

main {

	margin: 0px;
	width: 80%;
	margin-left: 10%;
	min-height: 500px;
	background: #f5ecce;
	border: solid 1px black; 

}

.link {
	text-decoration: none;
}

.menu {

	margin: 0px;
	width: 80%;
	margin-left: 10%;
	background: #f5ecce;
	border: solid 1px black; 
	text-align: center;
}
