body {
	background-color: #aba6a6;
	align-items: center;
}

.footer {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #99ace0;
	align-items: center;
	margin-top: 200px;
}

.header {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	border: 2px solid black;
	background-color: #99dfe0;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 100px;
}

.news {
	text-decoration: none;
}

.newsdiv {
	border: solid 1px black;
	padding: 0px;
	margin-left: 5%;
	width: auto;
}