body {
	background-color: #ffeb85;
	align-items: center;

}

.footer {
	position: absolute; 
	bottom: : 0; 
	left: 0;
	padding: 20px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #f2e0a2;
	align-items: center;
	border: solid 1px black; 
		text-align: center;
}

.header { 
	position: absolute; 
	top: 0; 
	left: 0;
	align-self: right;
	padding: 20px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	background-color: #f2e0a2;
	align-items: center;
	border: solid 1px black; 
		text-align: center;
}

.news {
	
	border: solid 1px black; 
	padding: 10px;
	margin: 15px;
}

main {

	margin: 0px;
	width: 80%;
	margin-left: 10%;
	min-height: 500px;
	background: #f5ecce;
	border: solid 1px black; 

}

.link {
	text-decoration: none;
}

.menu {
	padding-top: 88px;
	margin: 0px;
	width: 80%;
	margin-left: 10%;
	background: #f5ecce;
	border: solid 1px black; 
	text-align: center;
}
li {
    display: inline; 
    margin-right: 5px; 
    padding: 5px; 
    font-size: 30px;
	}

.chat{
	margin: 0px;
	width: 80%;
	margin-left: 10%;
	min-height: 500px;
	background: #f5ecce;
	border: solid 1px black; 
}

#history {
	height: 700px;
	 	background: #ffffff;
	margin: 40px;
	align-items: center;
}

.chat-sender {
	margin: 40px;
	align-items: center;
}
 .messages {

            overflow-y: scroll; 
        }

.message {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}